<p id="notice"><%= notice %></p>

<h1 > Lists </h1>
<h2> <%= link_to "Your public link", {controller: 'lists', action: 'userId', userId: current_user.id} %> </h2>

<div class="container" >
  <div class="row">
    <div class="col">Name</div>
    <div class="col">Action</div>
  </div>
  <%= render 'form', list: @list %>
  <br>
  <div class="row">
      <div class="col">Name</div>
      <div class="col">Link to tasks</div>
      <div class="col">Action</div>
  </div>

  <% @lists.each do |list| %>
    <% if list.userId == current_user.id  %>
        <%= render 'form', list: list %>
    <% end %>
  <% end %>
</div>


